.text-stroke-blue {
  -webkit-text-stroke: 2px transparent;
  -webkit-text-fill-color: white;
  background-image: linear-gradient(to right, #3b82f6, #1d4ed8);
  -webkit-background-clip: text;
  background-clip: text;
}